<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Page1</li>
                <li>Page2</li>
                <li>Page3</li>
            </ul>
        </nav>
    </header>

    @RenderBody()
    
    <footer>
        <p>Contact us ...</p>
    </footer>
</body>
</html>