@inject SignInManager<AspNetUser> signInManager
@inject UserManager<AspNetUser> userManager

@if(signInManager.IsSignedIn(User))
{
    @* ApplicationUser applicationUser = await userManager.GetUserAsync(User); *@
    <ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link" asp-page="/Account/Manage/Index"  asp-area="Identity">Hi @User.FindFirst("FullName").Value!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" method="post" asp-page="/Account/Logout" asp-area="Identity">
            <button type="submit" class="btn btn-link text-white">Logout</button>
        </form>
    </li>
</ul>
}  
else{
  
<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link" asp-page="/Account/Register"  asp-area="Identity">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  asp-page="/Account/Login"  asp-area="Identity">Login</a>
    </li>
</ul>
}